doctype html
html(lang="en")
	head
		meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		title Dr. Martens Store Locator
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Overpass&display=swap" rel="stylesheet")
		link(rel="stylesheet", id="preview-styles", href=`${baseUrl}preview.css`)
		link(rel='preconnect' href='https://cdn-ukwest.onetrust.com')
		link(rel='preconnect' href='https://www.googleoptimize.com')
		link(rel='preconnect' href='https://www.googletagmanager.com')
		link(rel='preconnect' href='https://cdn.attraqt.io')
		link(rel='preconnect' href='https://static.klaviyo.com')
		link(rel='preconnect' href='https://static.srcspot.com')
		link(rel='preconnect' href='https://cdn.media.amplience.net')
		link(rel='dns-prefetch' href='https://cdn-ukwest.onetrust.com')
		link(rel='dns-prefetch' href='https://www.googleoptimize.com')
		link(rel='dns-prefetch' href='https://www.googletagmanager.com')
		link(rel='dns-prefetch' href='https://cdn.attraqt.io')
		link(rel='dns-prefetch' href='https://static.klaviyo.com')
		link(rel='dns-prefetch' href='https://static.srcspot.com')
		link(rel='dns-prefetch' href='https://cdn.media.amplience.net')
		script.
			(function(){"use strict";var c=[],f={},a,e,d,b;if(!window.jQuery){a=function(g){c.push(g)};f.ready=function(g){a(g)};e=window.jQuery=window.$=function(g){if(typeof g=="function"){a(g)}return f};window.checkJQ=function(){if(!d()){b=setTimeout(checkJQ,100)}};b=setTimeout(checkJQ,100);d=function(){if(window.jQuery!==e){clearTimeout(b);var g=c.shift();while(g){jQuery(g);g=c.shift()}b=f=a=e=d=window.checkJQ=null;return true}return false}}})();
		script.
			window.dataLayer = window.dataLayer || [];
		script.
			var g4SiteAndUserData = {"site":{"country":"US","currency":"USD","language":"en","version":"1676652096495"},"user":{"email":"anonymous","hasOrder":true,"returning":true}};
		script(src='https://www.googleoptimize.com/optimize.js?id=GTM-WLZLJBH')
		script(type='text/javascript').
			var googleAnalyticsDelayedGtmStartMiliseconds=1000;
			function start_gtm_no_params(){
			start_gtm(window,document,'script','dataLayer','GTM-KXTQ62');
			}
			function start_gtm(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			}
			$(document).ready(function () {
			ACC.track.pushPageLoadEvent(document.location, document.title);
			if(googleAnalyticsDelayedGtmStartMiliseconds<=0){
			start_gtm_no_params();
			} else {
			setTimeout(start_gtm_no_params, googleAnalyticsDelayedGtmStartMiliseconds);
			}
			});
		link(rel='alternate' hreflang='en-us' href='https://www.drmartens.com/us/en/store-locator')
		meta(name='p:domain_verify' content='b873486b220976b00e63fa989f7275f0')
		meta(name='msvalidate.01' content='52FA30FD37202DFC184F378D866F6A5A')
		meta(name='msvalidate.01' content='62CE72169B013F48E6207DD9A1010490')
		meta(name='msvalidate.01' content='1E4E3D674C3C8494692060D0D336B776')
		script
			include preview-head.js
		style.
			html { box-sizing: border-box; font-size: 16px; } 
			*, *:before, *:after { box-sizing: border-box; text-decoration: none; } 
			body, h1, h2, h3, h4, h5, h6, p, ol, ul { margin: 0; padding: 0; font-weight: normal; } 
			ol, ul { list-style: none; } 
			.footer-top {
				margin-top: 60px;
			}
			@media screen and (max-width: 768px) {
				.footer-top {
					margin-top: 90px;
				}
			}
			.fade-map-elements {
				visibility: hidden;
				opacity: 0;
			}
		if config.entry.css.embed
			link(rel="stylesheet" href=`${embedPath}` embed)
		if config.entry.css.external
			link(rel="stylesheet", id="map-styles", href=`${baseUrl}style.css`)

	body.dm-main.page-cmsitem-00035000.pageType-ContentPage.template-pages-layout-contentLayout2Page.pageLabel--store-locator.smartedit-page-uid-cmsitem_00035000.smartedit-page-uuid-eyJpdGVtSWQiOiJjbXNpdGVtXzAwMDM1MDAwIiwiY2F0YWxvZ0lkIjoiZG0tdXNDb250ZW50Q2F0YWxvZyIsImNhdGFsb2dWZXJzaW9uIjoiT25saW5lIn0.smartedit-catalog-version-uuid-dm-usContentCatalogOnline.language-en 

		.branding-mobile.hidden-sm.hidden-md.hidden-lg
			.js-mobile-logo
		.js-device-info(data-currency-iso-code='USD' data-device='desktop')
			.yCmsContentSlot
			include preview/head
			main#main-content.dm-main.clr.clearfix.main__inner-wrapper
				.yCmsComponent
					.content
						block content
				.container
					.page-content.clearfix
				.yCmsContentSlot
			
			include preview/footer
		script(src='bundle.js')
		script
			include preview.js
		
		script(type='text/javascript' src=`${baseUrl}preview.js`)
		script(type='application/javascript' async='' src='https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=SGWRc2')

		
		script(async='async' src='https://static.srcspot.com/libs/blythe.js' type='application/javascript')
		script(defer='' src='https://static.cloudflareinsights.com/beacon.min.js/v8b253dfea2ab4077af8c6f58422dfbfd1689876627854' integrity='sha512-bjgnUKX4azu3dLTVtie9u6TKqgx29RBwfj3QXYt5EKfWM/9hPSAI/4qcV5NACjwAo8UtTeWefx6Zq5PHcMm7Tg==' data-cf-beacon='{"rayId":"8149773d9bbf05f5","token":"5207a4d1ac924826bac40f86896b1756","version":"2023.8.0","si":100}' crossorigin='anonymous')
